.code-generator {
  @include flex-center;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
}

.left-box-bg,
.right-box-bg {
  z-index: 0;
  background: rgba(255, 0, 0, 0.178);
  width: 50vw;
  height: 80%;
  border-radius: 100px;
}

.left-box-bg {
  position: absolute;
  left: 0;
}

.right-box-bg {
  position: absolute;
  right: 0;
}

.input-container {
  z-index: 1;
}

.button-container {
  z-index: 1;
}

.morse-container {
  z-index: 1;
}
